body {
    background: #f4f6f8;
    font-family: Arial, sans-serif;
}

.container {
    background: white;
    width: 400px;
    margin: 60px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

img {
    max-width: 100%;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
